/* delivery 
************************************************************************/
.delivery {
    height: 700px;
    background-color: #FAFAFA;
 }
 
 .delivery__inner {
     
 }
 
 .delivery__intro {
     width: 500px;
     margin: 0 auto;
     text-align: center;
     margin-bottom: 95px;
     padding-top: 59px;
 }
 
 .delivery__title {
     font-size: 61px;
     line-height: 1.2;
 }
 
 .delivery__overtitle {
     margin-bottom: 4px;
     font-size: 16px;
     color: #A6A6A6;
 }  
 
 .delivery__item {
     width: 33.33333%;
     float: left;
 }
 
 .delivery__picture {
 
 }
 
 .delivery__img {
     display: block;
     margin: 0 auto;
 }
 
 .delivery__content {
     margin-top: 40px;
 }
 
 .delivery__item--title {
     font-size: 20px;
     margin-bottom: 12px;
 }
 
 .delivery__text {
     color: #212529;
     padding-right: 36px;
 }