/* Intro 
*******************************************************************************************/
.intro {
    padding: 90px 0 55px;
}

.intro__inner {

}

.intro__content {
    width: 100%;
    max-width: 850px;
    height: auto;
    text-align: center;
    margin: 0 auto;
    /* padding-top: 90px; */
}


.intro__overtitle {
    color: #A6A6A6;
}

.intro__title {
    font-size: 64px;
    line-height: 1.2;
    margin-top: 5px;
    margin-bottom: 23px;
}

.intro__subtitle {
    padding: 0 80px;
    margin-bottom: 36px;
}


.into__button {

}

.button__transparent {
    color: #000;
    background-color: transparent;
}