/* location 
***********************************************************************************/
.location {
    height: 900px;
}

.location__inner {
    padding-top: 50px;
    text-align: center;
}

.location__content {
    text-align: center;
}

.location__title {
    font-size: 61px;
    margin-bottom: 23px;
}

.location__text {
    color: #212529;
    margin-top: 25px;
}

.locotion__picture {

}

.location__img {
    display: block;
    margin: 0 auto;
}